---
title: Our Work
permalink: "/projects/"
layout: page
type: inNavBar
---

<h1 class="t-section-headline">Our Work</h1>

  <div class="container">
    <section>
      <h2 class="spacer-0">Current Projects</h2>
      <div>
              <p>The following initiatives are currently underway and
                  accepting contributors. Projects
              are open to volunteers of all skillsets - if you're interested, just show up
              at one of our
              <a href="{{site.meetup_url}}">Tuesday evening hack nights</a>!</p>
      </div>
      <div class="container">
          {% for proj in site.data.projects.active %}
          <div class="row project">
              <div class="col-sm-3 col-12">
                  <div class="row">
                      <div class="col-12">
                          {% if proj.url %}<a href="{{proj.url}}" target="project">{% endif %}
                              <h3>{{proj.name}}</h3>
                          {% if proj.url %}</a>{% endif %}
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-12 elevatorPitch">
                          {{ proj.elevatorPitch | markdownify }}
                      </div>
                  </div>
              </div>
              <div class="col-sm-9 col-12">
                  {% if proj.repository %}
                  <div class="row">
                      <div class="col-sm-4 col-12">
                          <strong>Code Repository</strong>
                      </div>
                      <div class="col-sm-8 col-12 break-word">
                          <a href="{{proj.repository}}" target="project">GitHub</a>
                      </div>
                  </div>
                  {% endif %}
                  {% if proj.technologies %}
                  <div class="row">
                      <div class="col-sm-4 col-12">
                          <strong>Technologies</strong>
                      </div>
                      <div class="col-sm-8 col-12">
                          {{proj.technologies}}
                      </div>
                  </div>
                  {% endif %}
                  {% if proj.partner %}
                  <div class="row">
                      <div class="col-sm-4 col-12">
                          <strong>Partner</strong>
                      </div>
                      <div class="col-sm-8 col-12">
                          {% for partner in proj.partner %}
                          <div>
                              {% if partner.url %}
                              <a href="{{ partner.url }}" target="project" >
                                  {{ partner.name }}
                              </a>
                              {% else %}
                              {{ partner.name }}
                              {% endif %}
                          </div>
                          {% endfor %}
                      </div>
                  </div>
                  {% endif %}
                  {% if proj.lead %}
                  <div class="row">
                      <div class="col-sm-4 col-12">
                          <strong>Lead</strong>
                      </div>
                      <div class="col-sm-8 col-12">
                          {% if proj.leadUrl %}<a href="{{proj.leadUrl}}" target="project">{% endif %}
                              {{proj.lead}}
                          {% if proj.leadUrl %}</a>{% endif %}
                      </div>
                  </div>
                  {% endif %}
                  {% if proj.slackChannel %}
                  <div class="row">
                      <div class="col-sm-4 col-12">
                          <strong>Slack Channel</strong>
                      </div>
                      <div class="col-sm-8 col-12">
                          <a href="https://cfb-public.slack.com/app_redirect?cteam={{ site.slack_team_id }}&channel={{ proj.slackChannel}}">
                              #{{ proj.slackChannel }}
                          </a>
                      </div>
                  </div>
                  {% endif %}
                  {% if proj.hangoutsSlug or proj.hangoutsLink %}
                  <div class="row">
                      <div class="col-sm-4 col-12">
                          <strong>Video Chat</strong>
                      </div>
                      <div class="col-sm-8 col-12">
                          <a href="{% if proj.hangoutsSlug %}/rooms/{{ proj.hangoutsSlug }}{% else %}{{ proj.hangoutsLink }}{% endif %}">
                              Join
                          </a>
                      </div>
                  </div>
                  {% endif %}
                  <div class="row spacer-10">
                      <div class="col-12"></div>
                  </div>
                  <div class="row">
                      <div class="col-12">
                          <small>{{proj.news | markdownify }}</small>
                      </div>
                  </div>
              </div>
          </div>
          <div class="row spacer-30">
              <div class="col-12"></div>
          </div>

          {% endfor %}
      </div>
  </section>

  <section>
    <h2 class="">Sampler of Completed Projects</h2>
    <p>You can view all the projects we've ever done on <a href="{{site.github_url}}" target="_blank">GitHub</a>.</p>

    <div class='cfbgrid'>
      {% for proj in site.data.projects.inactive %}
        <div class='thumb cfbcol-4'>
          <b><a href="{{ proj.url }}">{{ proj.name }}</a></b><br>
        </div>
      {% endfor %}
    </div>
  </section>

  <section>
    <h2>Identified a problem in your community?</h2>
    <p>Maybe Code for Boston can help and we can address that problem together. You can submit a problem statement to our core team using the button at the bottom of this page. Before you submit, please make sure your submission is in line with our few ground-rules below.</p>

    <h3>How we take on new projects</h3>
    <ol>
      <li>We prefer submissions in the form of problem statements. A good rule to start with is to phrase your idea in the form of:

        <blockquote> "How might we (thing you want to change here)". </blockquote>

      For example: <em>"How might we better enable citizens to be knowledgable about local political issues"</em> we consider a <strong>good</strong> problem statement, but <em>"Let's build an iOS app to track how people use parks in our community."</em> we consider to be a <strong>poor</strong> problem statement. The reason behind this, is that we want to avoid starting from a point where we have already made many assumptions about the project. Who knows if an iOS app is the best choice, and what problem are you trying to address by tracking people's opinions? <br>

      <strong>If you already know what you want and you just need it built, we're not the group for you - we do not do "spec work" by any means.</strong></li>

      <li>The project must be <strong>open-source</strong> for its entire lifetime. If this is code, it means freely available on github. If it isn't code, this means that the progress and deliverable 'thing' is openly available in some other accessible way.</li>

      <li>The project must solve a <strong>real civic need</strong> (while there are plenty of good ideas out there, we limit ourselves to civic tech related, social good projects). We realize this is a somewhat fuzzy distinction, which is why we always will have you discuss your problem statement/idea with Code for Boston core team members before we commit to anything.</li>

      <li>Due to the diverse group of our members, we may not be able to take on projects that are political in nature. Projects focused around things like open-data and transparency are fair game, but projects to support a partisan political effort are 'iffy' at best. (i.e transparency tool for campaign finance is good, website promoting a candidate is a no-go).</li>
    </ol>
    <a class="btn-secondary btn--large" href="https://docs.google.com/a/codeforboston.org/forms/d/1QosuVBXWVUH8vRHZChauOXRvPFQhwrn3vi0dDcZd80Y/viewform">Submit a project idea</a>
  </section>
</div>
