<footer class="site-footer">

  <div class="wrapper">

    <div class="row">
      <div class="col-4">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="col-4">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            <a href="https://github.com/{{ site.github_username }}">
              github.com/{{ site.github_username }}
            </a>
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            <a href="https://twitter.com/{{ site.twitter_username }}">
              twitter.com/{{ site.twitter_username }}
            </a>
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="col-4">
        <p class="text">{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
