<footer class="site-footer t-margin--top l-before-angled">

  <div class="wrapper">

    <div class="row">
      <div class="col-4">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="col-4">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            <a href="https://github.com/{{ site.github_username }}">
              GitHub: {{ site.github_username }}
            </a>
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            <a href="https://twitter.com/{{ site.twitter_username }}">
              Twitter: @{{ site.twitter_username }}
            </a>
          </li>
          {% endif %}

          {% if site.hackpad_username %}
          <li>
            <a href="https://{{ site.hackpad_username }}.hackpad.com">
              Hackpad
            </a>
          </li>
          {% endif %}

          {% if site.meetup_path %}
          <li>
            <a href="http://meetup.com/{{ site.meetup_path }}">
              Meetup
            </a>
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="col-4">
        <p class="text">
          Part of the <a href="http://www.codeforamerica.org/brigade/about">Code for America Brigade</a> network, we are a volunteer group of developers, designers, data geeks, and citizen activists who use creative technology to solve civic and social problems.
        </p>
      </div>
    </div>

  </div>

</footer>

<script src="{{ '/js/main.js' | prepend: site.baseurl }}"></script>
