<header class="site-header">
  <div class="wrapper">
    <a class="logo" href="{{ site.baseurl }}/">
      <img
        src="{{ '/img/cfb-logo/cfb-logo-stacked-dark.png' | prepend: site.baseurl }}"
        alt="{{ site.title }}"
      />
    </a>

    <nav class="site-nav">
      <div class="trigger">
        <nav class="page-links">
          <ul class="list-unstyled">
            {% for page in site.pages %} {% if page.title and page.type ==
            'inNavBar' %}
            <li>
              <a href="{{ page.url | prepend: site.baseurl }}"
                >{{ page.title }}</a
              >
            </li>
            {% endif %} {% endfor %}
            <li>
              <a
                href="https://opencollective.com/code-for-boston/donate?interval=oneTime&amount=20&name=&legalName=&email="
                class="btn-primary btn--small"
              >
                Donate
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </nav>
  </div>
</header>
