<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">


  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Merriweather:300,300italic' rel='stylesheet' type='text/css'>


  <link rel="stylesheet" href="{{ '/css/main.css' | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ '/feed.xml' | prepend: site.baseurl | prepend: site.url }}" />

  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

  <script type="text/javascript">
    var _bftn_options = {
      /*
       * Choose from 'countdown', 'glitch', 'money', 'stop', 'slow', 'without'.
       * Default is 'countdown'.
       */
      theme: 'countdown', // @type {string}
      
      /*
       * Choose from 'fp' for Free Press, 'dp' for Demand Progress or
       * 'fftf' for Fight for the Future. Omit this property to randomly split
       * form submissions between all organizations in the Battle for the Net 
       * coalition.
       */
      org: 'fp', // @type {string}
      
      /*
       * Specify a delay (in milliseconds) before showing the widget. Defaults to one 
       * second.
       */
      delay: 1000, // @type {number}
      
      /*
       * Specify a date for the countdown theme. Defaults to November 23rd, 2017
       * (when the FCC is expected to announce a vote) if omitted. ISO-8601 dates are
       * UTC time, three-argument dates (with a zero-based month) are local time.
       */
      date: new Date(2017, 11, 14), // @type {Date}

      /*
       * Specify view cookie expiration. After initial view, modal will not be
       * displayed to a user again until after this cookie expires. Defaults to one
       * day.
       */
      viewCookieExpires: 1, // @type {number}

      /*
       * Specify action cookie expiration. After initiating a call or clicking a
       * donate link, modal will not be displayed to a user again until after this
       * cookie expires. Defaults to one week.
       */
      actionCookieExpires: 7, // @type {number}
      
      /*
       * If you show the modal on your homepage, you should let users close it to
       * access your site. However, if you launch a new tab to open the modal, closing
       * the modal just leaves the user staring at a blank page. Set this to true to
       * prevent closing the modal - the user can close the tab to dismiss it. Defaults
       * to false.
       */
      uncloseable: false, // @type {boolean}

      /* Prevents the widget iframe from loading Google Analytics. Defaults to false. */
      disableGoogleAnalytics: true, // @type {boolean}
      
      /* Always show the widget. Useful for testing. */
      always_show_widget: true // @type {boolean}
    };
  </script>
  <script src="https://widget.battleforthenet.com/widget.js" async></script>

</head>
