<nav class="page-links">
    <ul class="list-unstyled">

        {% for page in site.pages %}
          {% if page.title and page.type == 'inNavBar' %}
            <li>
              <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
            </li>
          {% endif %}
        {% endfor %}

	    <li>
            <a href="https://secure.codeforamerica.org/page/contribute/default?brigade=Code%20For%20Boston" class="btn-primary btn--small">Donate</a>
        </li>

    </ul>
</nav>

<!--
About
Our Work
Civic Tech Events
Code of Conduct
-->
