// the base font size drives the sizing of everything, adjust as needed
$base-font-size: 24px;

$right-bar-width: 25%;
$main-content-width: 75%;


$header-height: 15%;
$footer-height: 10%;
$main-content-height: 100% - $header-height - $footer-height;

html.one-off {
  height: 100%;

  body {
    height: 100%;
    margin: 0;
    font-size: $base-font-size;
    color: $grey-color-dark;
    font-weight: 400;
  }

  h4 {
    font-weight: 400;
  }

  header {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    height: $header-height;
  }


  .text-mono {
    font-family: monospace;
  }

  .text-faded {
    color: $grey-color;
  }

  header {
    padding-left: 2rem;
    padding-top: 0.5rem;
    .logo {
      width: 15rem;
      display: inline-block;
    }
    h1 {
      font-weight: 700;
      display: inline-block;
      padding-left: 3rem;
    }

  }

  .info-icon {
    width: 2rem;
    height: 2rem;
    line-height: 1.4;
    text-align: center;
    display: inline-block;
    background: white;
    color: $blue-color;
    font-family: monospace;
    border-radius: 50%;
    margin-right: 1rem;
  }

  .information {
    position: absolute;
    top: 0;
    right: 0;
    width: $right-bar-width;
    height: 100%;
    padding-left: 2rem;
    background: $blue-color;
    color: white;
    h2 {
      font-weight: 400;
      font-size: 1.5rem;
      display: inline-block;
      margin: 0.5rem 0;
    }

    .info-content {
      padding-left: 2rem;
      padding-top: 0.5rem;
    }
  }


  .content-blocks {
    position: absolute;
    left: 0;
    top: $header-height;
    height: $main-content-height;
    width: $main-content-width;
  }


  .timeline {
    .timeline-header {
      padding-left: 2rem;
      background: $grey-color-dark;
      color: white;
      margin-bottom: 1rem;

      h2 {
        font-weight: 400;
        font-size: 1.5rem;
        display: inline-block;
        margin: 0.5rem 0;
      }
    }

    .events {
      display: inline-block;
      width: 30%;
      vertical-align: top;
      list-style: none;

      h3 {
        margin: 0;
        color: $grey-color;
        font-weight: 600;
      }

      .time {
        font-weight: 600;
        color: $grey-color;
        font-size: 1.2rem;
      }
      h4 {
        font-size: 1.5rem;
        margin-left: 0.5rem;
      }
      li {
        margin-bottom: 1rem;
      }
    }
  }

  .donors {
    list-style: none;

    li {
      display: inline-block;
    }
    li + li {
      &:before {
        content: "";
        width: 1rem;
        height: 1rem;
        background: $grey-color-light;
        border-radius: 50%;
        display: inline-block;
        margin: 0 0.75rem;
      }
    }
  }


  .help {
    width: 100%;
    background: $brand-color;
    color: white;
    padding: 0.5rem 2rem;

    p {
      margin: 0;
    }
  }


  .welcome {
    position: absolute;
    right: 0;
    width: $right-bar-width;
    top: 0;
    height: 20%;
    padding: 0.5rem;
    h1 {
      font-weight: 800;
      text-align: center;
      font-size: 3rem;
    }
  }
  // twitter feed
  .twitter-feed{
    position: absolute;
    right: 0;
    top: $header-height;
    height: 100% - $header-height - 5%;
    width: $right-bar-width;
    padding: 0 10px;
    iframe {
      height: 100%;
    }
  }
  .twitter-footer {
    height: 5%;
    position: absolute;
    bottom: 0;
    right: 0;
    width: $right-bar-width;
    font-size: 1rem;
    padding-top: 0.5rem;
    text-align: center;
  }


}
