.hero {
  padding: 2rem 0;
  h1 {
    font-size: 6rem;
    line-height: 1;
    font-weight: 700;
  }
  .subheadline-above {
    font-size: 1.5rem;
    margin: 0;
  }
  a.cta {
    margin: 2rem 0;
    padding: 1.5rem 2.5rem;
    border-radius: 4px;
    background: $brand-color;
    color: #fff;
    text-decoration: none;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
    &:hover {
      background: darken($brand-color, 10%);

    }
  }
}


.panel {
  padding-top: 5rem;
  padding-bottom: 5rem;
}


.hacknight-banner {
  background: $brand-color;
  color: $white-color;

  .cta-section {
    text-align: right;
  }

}


.page-title {
  text-align: center;
  margin: 2rem 0;
}


input {
  font-size: 0.8rem;
  padding: 0.5rem;
}


.notice {
  padding: 1.4rem;
  margin: 2rem 0;
  border-radius: 4px;

  &.inline {
    display: inline-block;
  }

  &.notice-positive {
    background: $blue-color;
    a {
      border-color: $white-color;
      &:hover {
        color: $white-color;
      }
    }
  }
}



.three-up {
  article p {
    min-height: 10rem;
  }
}
