$grid-columns: 12;

.row {
  @include row();
}

@for $i from 1 through 12 {
  [class*=col-#{$i}] {
    @include span-columns($i);

    @include media-query($on-palm) {
      @include span-columns(12);
    }
  }

}


.pull-right {
  float: right;
}


.t-center {
    text-align: center;
}

.t-pad--top {
    padding-top: $spacing-unit * 2;
}
.t-pad--bottom {
    padding-bottom: $spacing-unit * 2;
}

.t-margin--top {
    margin-top: $spacing-unit * 2;
}
.t-margin--bottom {
    margin-bottom: $spacing-unit * 2;
}
