$grid-columns: 12;

.row {
  @include row();
}
.row--centered {
  text-align: center;
  > [class*="col-"] {
    float: none;
    text-align: initial;
    display: inline-block;
  }
}

@for $i from 1 through 12 {
  [class*=col-#{$i}] {
    @include span-columns($i);

    @include media-query($on-palm) {
      @include span-columns(12);
    }
  }

}

.col--padded {
  padding: 2rem;
}


.pull-right {
  float: right;
}


.t-center {
    text-align: center;
}
.t-right {
    text-align: right;
}
.t-left {
    text-align: left;
}

.t-indented {
  p {
    text-indent: 1.5em;
  }
}

.l-pad--top {
    padding-top: $spacing-unit * 2;
}
.l-pad--bottom {
    padding-bottom: $spacing-unit * 2;
}

.l-margin--top {
    margin-top: $spacing-unit * 2;
}
.l-margin--bottom {
    margin-bottom: $spacing-unit * 2;
}


// Color utilites
.t-red {
  color: $red-color;
}
.t-blue {
  color: $blue-color;
}
.t-white {
  color: $white-color;
}
.t-black {
  color: $black-color;
}
.t-grey {
  color: $grey-color;
}
.bg-red {
  background-color: $red-color;
}
.bg-blue {
  background-color: $blue-color;
}
.bg-white {
  background-color: $white-color;
}
.bg-black {
  background-color: $black-color;
}
.bg-grey {
  background-color: $grey-color;
}


// Aspect ratio helpers
// Note: these must only contain a single child.
[class*="aspect-"] {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
  }
  > * {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.aspect-1-1:before {
  padding-top: 100%;
}

.aspect-2-1:before {
  padding-top: 50%;
}

.aspect-16-9:before {
  padding-top: (9/16) * 100%;
}



.u-shadowed {
  box-shadow: 0 0 4px 4px rgba(0,0,0,0.5);
}



// Yank!
.yank--north {
  position: relative;
  top: -4rem;
  margin-bottom: -4rem;
}
