<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

  <link rel="stylesheet" href="{{ site.reveal_path }}css/reveal.css">
  <link rel="stylesheet" href="{{ site.reveal_theme_path }}{{ site.reveal_theme }}">

  <!-- Theme used for syntax highlighting of code -->
  <link rel="stylesheet" href="{{ site.reveal_path }}lib/css/zenburn.css">

  <!-- Printing and PDF exports -->
  <script>
    var link = document.createElement('link');
    link.rel = 'stylesheet';
    link.type = 'text/css';
    link.href = window.location.search.match(/print-pdf/gi) ? '{{ site.reveal_path }}css/print/pdf.css' : '{{ site.reveal_path }}css/print/paper.css';
    document.getElementsByTagName('head')[0].appendChild(link);
  </script>
</head>

<body>
  <div class="reveal">
    <div class="slides">
      {{ content }}
    </div>
  </div>

  <script src="{{ site.reveal_path }}lib/js/head.min.js"></script>
  <script src="{{ site.reveal_path }}js/reveal.js"></script>

  <script>
    // More info about config & dependencies:
    // - https://github.com/hakimel/reveal.js#configuration
    // - https://github.com/hakimel/reveal.js#dependencies
    Reveal.initialize({
      dependencies: [
        { src: '{{ site.reveal_path }}plugin/markdown/marked.js' },
        { src: '{{ site.reveal_path }}plugin/markdown/markdown.js' },
        { src: '{{ site.reveal_path }}plugin/notes/notes.js', async: true },
        { src: '{{ site.reveal_path }}plugin/highlight/highlight.js', async: true, callback: function () { hljs.initHighlightingOnLoad(); } }
      ]
    });
  </script>
</body>

</html>
